@charset "utf-8";
.container
{
	width:100%;
	height:auto;
	margin:0px auto;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;
}
.logo
{
	width:100%;;
	height:90px;
}
/*MENU*/
#menu
{
	width:100%;
	height:50px;
	background:#F00;
}
#menu ul{
	background:#036;
	list-style-type:none;
	text-align:left;
}
#menu ul li{
	width:150px;
	height:50px;
	line-height:50px;
	position:relative;
	display:inline-table;
}
#menu ul li a{
	text-decoration:none;
	color:white;
	font:bold;
	display:block;
	padding:0;
	text-align:center;
}
#menu ul li a:hover{
	background-color:#FFF;
	color:black;
}
/*SUB_MENU*/
#menu .sub_menu{
	position:absolute;
	display:none;
	background-color:#036;
	text-align:center;
	padding:0px;
}
#menu ul li:hover .sub_menu
{
	display:block;
}
#menu ul li:hover .sub_menu
{
	background:#09F;
}
/*MAIN*/
.main
{
	width:100%; 
	height:800px;
	background:white;
	float:left;
	background: url(Images/background.jpeg);
}
.main .c
{
	margin-top: 10px;
}
.row .row1,.row2
{
	width:250px;
	height:30px;
	margin-bottom:5px;
	border: 2px solid #999;
	border-radius:4px;
}
.row .row5
{
	background-color:#6F9;
	width:160px;
	height:25px;
	margin:3px;
}
.login-form input:hover
{
	border-color:#3A81D5;
}
input[type="submit"]
{
	width:200px;
	height:25px;
}
/*ASIDE*/
.button
{
	background:#c36; 
	width:210px; 
	height:34px; 
	border-radius:3px; 
	line-height:34px; 
	border:1px solid #a42952;
}
.button a
{
	color:white;
}
.button:hover
{
	opacity:70%;
}
.right
{
	width:380px;
	height: 2170px;
	float:left;
}
/*FOOTER*/
.end
{
	width:100%;
	height:auto;
	background-color: #052851;
	float:left;
	margin-top:30px;
}
.end ul
{
	 list-style-type:none;
}
.end ul li
{
	margin-bottom:5px;
}
.end ul li a
{
	color:white;
}
.end ul li a:hover
{
	color:#FC0;
}
.last
{
	text-align:center;
	color:white;
	font-size:18px;
}
/*FONT_STYLE*/
a
{
	text-decoration:none;
	color:black;
}
input
{
	width:350px; 
	height:40px; 
	margin-top:25px;
}
.view
{
	color:#999;
}
pre
{
	font-size:18px;
}
h1
{
	padding-left:40px;
}
h3
{
	border-left:3px solid black;
	height:57px;
	line-height:57px;
	text-align:left;
	padding-left:5px;
}
/*PAGE ADD*/
.wrap input[type="submit"]
{
	background:#CFF;
	width:100px;
	height:30px;
    padding:0px;
	margin-left:200px
}
